---
- include_tasks:
    file: packages_no_snap.yml
    apply:
      tags:
        - packages_no_snap
  tags:
      - packages_no_snap

- include_tasks:
    file: syncthing.yml
    apply:
      tags:
        - syncthing
  tags:
      - syncthing

- name: Install apt packages
  apt:
    name: "{{ apt_packages }}"
    state: latest
    update_cache: true

- include_tasks:
    file: install_brews.yml
    apply:
      tags:
        - brew
  tags:
      - brew

- become: false
  block:
    - include_tasks:
        file: rust.yml
        apply:
          tags:
            - rust
      tags:
          - rust

- name: Clean
  apt:
    autoclean: true

- name: Autoremove
  apt:
    autoremove: true
