[Unit]
Description=Automount {{ automount_item_name }}

[Automount]
Where="/mnt/{{ automount_item_name }}"
TimeoutIdleSec="{{ automounts_group.timeout | d(600) }}"

[Install]
WantedBy=multi-user.target
