[Unit]
Description=Automount {{ automount_item_name }}

[Automount]
Where={{ automount_item_mount_path }}
TimeoutIdleSec="{{ automounts_group.timeout | d(600) }}"

[Install]
WantedBy=multi-user.target
