{%- for mount in autofs_item.mounts %}
{{ mount.name }} -fstype={{ autofs_item.type }},{{ autofs_item.mode }},uid={{ autofs_item.uid }},gid={{ autofs_item.gid }},credentials={{ autofs_item.credentials_file.dest }} ://{{ autofs_item.src }}/{{ mount.src }}
{% endfor %}
